html{
    font-size:100%;
    box-sizing:border-box;
    height: 100%;
    padding-top: 5vh;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.nopadding{
    margin:0 !important;
    padding: 0 !important;
}